<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title th:text="${post.title}">Cum sociis</title>
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/footer.css" />
<link rel="stylesheet" href="/css/sidbar.css" />
<link rel="stylesheet" href="/css/blog.css" />
<link rel="stylesheet" href="/css/highlight.css" />
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script>

$(document).ready(function(){
	
	$('.comment-list .delete').click(function(e){
		var con=confirm("确定要删除是吗")
		if(con==true){
	    var $a = $(e.target),
	        id = $a.closest('li').attr("class"); 
	    	$.post('/comments/delete/' + id)
	        .success(function(){
	            $a.closest('li').remove();
	        });
	}
		else{}	
	});


	$('#comment-form #btn-post').click(function(e){
	    var content = $('#comment-form #comment').val();
	    if(content=="")
	    	{alert("评论不能为空")}else{
	    var post = $('#comment-form #postid').val();
	    $.post('/comments/save', { content: content , post: post })
	        .success(function(data,status){
	        	var comment = eval('(' + data + ')');
	        	var $date = $('<p></p>',{class:'blog-post-meta'}).html(comment.created) ,
				 	$content = $('<p></p>',{class:'blog-post-content'}).html(content) ,
					$del = $('<a></a>', {class : 'delete'}).html("删除"),
	        		$div = $('<div></div>',{class:'blog-post'}).append($date).append($content).append($del) ,
          		 	$li = $('<li></li>',{class : comment.id }).append($div);
				 	$('.comment-list').append($li);	 	
				 	$("textarea").val(""); 
				 	window.location.reload();
        });  
	    	}
		});
	});



</script>



</head>
<body>
	<div class="container">

		<div class="row">

			<div class="col-sm-8">
				<div class="page-header">
					<h2 th:text="${post.title}">Cum sociis</h2>
					<p class="blog-post-meta"
						th:text="${#dates.format(post.created, 'yyyy-MM-dd')}">
						2015年2月3日 分组：<a href="#">Web开发</a>
					</p>
				</div>

				<div class="post-content" th:text="${post.content}"></div>
				<nav>
					<ul class="pager">
						<li class="previous" th:if="${post.id == 1}"><a><span></span>首篇</a></li>
						<li class="previous" th:if="${post.id gt 1}"><a href="#"
							th:href="@{'/posts/'+${post.id-1}}"><span>&larr;</span> 上一篇</a></li>
						<li class="next"><a href="#"
							th:href="@{'/posts/'+${post.id+1}}">下一篇 <span>&rarr;</span></a></li>
					</ul>
				</nav>
				<h2>评论</h2>
				<div class="col-sm-10">
					<ul class="comment-list">
						<li th:each="comment : ${comments}" th:class="${comment.id}">
							<div class="blog-post">
								<p class="blog-post-meta"
								th:text="${#dates.format(comment.created, 'yyyy-MM-dd')}">2015年2月3日</p>
								<p class="blog-post-content" th:text="${comment.content}">Amet.risus.</p>
								<a class="delete">删除</a>
							</div>
						</li>
					</ul>
				</div>
				<form id="comment-form">
					<div class="form-group">
						<textarea name="content" id="comment" class="form-control"></textarea>
						<input type="hidden" name="post" id="postid" th:value="${post.id}"></input>
					</div>
					<a class="btn btn-primary" id="btn-post">发布评论</a>	
				</form>
			</div>


			<div class="col-sm-3 col-sm-offset-1">
				<div class="sidebar-module sidebar-module-inset">
					<div class="avatar">
						<img class="img-circle img-rounded img-thumbnail avatar"
							src="/img/catty.jpeg" />
						<div>
							<h4>Lorem</h4>
							<a>lorem@example.com</a>
						</div>
					</div>
					<p>Ornare sapien rhoncus, nec mi hendrerit. Ante aliquam dui
						arcu, diam sodales erat felis dolor sed in, nec placerat non.</p>
				</div>
				<div class="sidebar-module">
					<h4>归档</h4>
					<ol class="list-unstyled">
						<li><a href="#">2015年03月</a></li>
						<li><a href="#">2015年02月</a></li>
						<li><a href="#">2015年01月</a></li>
						<li><a href="#">2014年12月</a></li>
						<li><a href="#">2014年11月</a></li>
						<li><a href="#">2014年10月</a></li>
						<li><a href="#">2014年09月</a></li>
						<li><a href="#">2014年08月</a></li>
						<li><a href="#">2014年07月</a></li>
					</ol>
				</div>
			</div>

		</div>

	</div>

</body>
</html>